.header-logo a
  padding 0

.navbar .menu a
  padding 0 8px

.navbar-header .arrow
  color #76A375
  font-size 12px

.navbar-header .tilde
  color #2d96bd

.navbar-header .cursor
  display inline-block
  width 6px
  height 10px
  background #2d96bd
  animation cursor 1s infinite

#mobile-toggle-theme 
  font-style italic

@keyframes cursor
  from 
    opacity 1
  to 
    opacity 0
  


.navbar .menu .active
  font-weight 900
  color $light-navbar-active-color
  .dark-theme &
    color $dark-navbar-active-color


.navbar-header a:hover, .navbar .menu a:hover
  background-color transparent

header label
  margin-left 15px
  position relative
  -webkit-transform translateY(.1em) translateX(.5em)
